AppEsferoClienteSW/AppEsferoCliente/AppEsferoCliente/Service References/ServiceReference1/SWServicioEsferoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" name="SWServicioEsferoService" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:7101/AppEsferoServidor-AppEseferoServidor-context-root/SWServicioEsferoPort?xsd=1" namespace="http://tempuri.org/" />
    </xsd:schema>
  </types>
  <message name="insertar">
    <part name="parameters" element="tns:insertar" />
  </message>
  <message name="insertarResponse">
    <part name="parameters" element="tns:insertarResponse" />
  </message>
  <message name="eliminar">
    <part name="parameters" element="tns:eliminar" />
  </message>
  <message name="eliminarResponse">
    <part name="parameters" element="tns:eliminarResponse" />
  </message>
  <message name="actualizar">
    <part name="parameters" element="tns:actualizar" />
  </message>
  <message name="actualizarResponse">
    <part name="parameters" element="tns:actualizarResponse" />
  </message>
  <message name="listar">
    <part name="parameters" element="tns:listar" />
  </message>
  <message name="listarResponse">
    <part name="parameters" element="tns:listarResponse" />
  </message>
  <message name="consultar">
    <part name="parameters" element="tns:consultar" />
  </message>
  <message name="consultarResponse">
    <part name="parameters" element="tns:consultarResponse" />
  </message>
  <message name="notificarObservadores">
    <part name="parameters" element="tns:notificarObservadores" />
  </message>
  <message name="agregarObservador">
    <part name="parameters" element="tns:agregarObservador" />
  </message>
  <portType name="SWServicioEsfero">
    <operation name="insertar">
      <input message="tns:insertar" />
      <output message="tns:insertarResponse" />
    </operation>
    <operation name="eliminar">
      <input message="tns:eliminar" />
      <output message="tns:eliminarResponse" />
    </operation>
    <operation name="actualizar">
      <input message="tns:actualizar" />
      <output message="tns:actualizarResponse" />
    </operation>
    <operation name="listar">
      <input message="tns:listar" />
      <output message="tns:listarResponse" />
    </operation>
    <operation name="consultar">
      <input message="tns:consultar" />
      <output message="tns:consultarResponse" />
    </operation>
    <operation name="notificarObservadores">
      <input message="tns:notificarObservadores" />
    </operation>
    <operation name="agregarObservador">
      <input message="tns:agregarObservador" />
    </operation>
  </portType>
  <binding name="SWServicioEsferoPortBinding" type="tns:SWServicioEsfero">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="notificarObservadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="agregarObservador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="SWServicioEsferoService">
    <port name="SWServicioEsferoPort" binding="tns:SWServicioEsferoPortBinding">
      <soap:address location="http://localhost:7101/AppEsferoServidor-AppEseferoServidor-context-root/SWServicioEsferoPort" />
    </port>
  </service>
</definitions>